@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


@theme {
  --color-bg0: hsl(22, 40.50%, 85.50%);
  --color-bg1: #273B3A;
  --color-bg11: #36514F;
  --color-bg2: #732D24;
  --color-bg21: #9F3F32;
  --color-txt0: #186974;
  --color-txt1: #BE4334;
  --font-bitcount: "Bitcount", non-seris;
  --font-CaveatBrush: "Caveat brush", l;
}
